/*

Description:

The goal of this project is to create a 
website that fetches data from the FDA and
NIH and displays the result to the user. 
Specifically, the website queries for FDA
food recalls, medication descriptions,
medication pill images, and molecule images.

*/

div {
    margin-top:.7em;
}

.disclaimer {
    color:red;
    font-style:italic;
    font-weight: bold;
}

.disclaimer-box {
    color: rgb(127, 250, 244);
    background-color:#373737;
    resize:none;
}

.picture-disclaimer {
    background-color:bisque;
}

table {
    margin-top: 2em;
    border:2px black solid;
    background-color:lightsteelblue;
}
th {
    background-color:goldenrod;
}
tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

img {
    height:75px;
    width:auto;
}

#search_term {
    width:14em;
    font-size: x-large;
    border-radius: 10px;
}

.highlight {
    background-color: yellow;
}

.med {
    display:none;
}

.menu {
    text-align: center;
}

body {
    padding: 1em;
    border: 33px lightblue solid;
    margin:0em;
    width:600px
}
